<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.comoj.sievemaster"
        version   = "1.0">

    <name>Sieve Master</name>

    <description>Easy to learn, difficult to master. A puzzle game where you have to put golden or silver coin into a hole by swiping grid and elements on it in all for directions.</description>

    <author href="http://sievemaster.comoj.com" email="jan.horvat@gmail.com">
      Jan Horvat
    </author>

  <preference name="phonegap-version" value="3.3.0" />

  <preference name="permissions" value="none"/>

  <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.0" />
  <gap:plugin name="org.apache.cordova.inappbrowser" version="0.1.0" />
  <gap:plugin name="org.apache.cordova.media" version="0.2.8" />

  <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance" overwrite="true">
    <false/>
  </gap:config-file>
  <gap:config-file platform="ios" parent="UIStatusBarHidden" overwrite="true">
    <true/>
  </gap:config-file>

    <icon src="res/icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/icon/ios/icon-76.png"            gap:platform="ios"        width="76" height="76" />
    <icon src="res/icon/ios/icon-120.png"         gap:platform="ios"        width="120" height="120" />
    <icon src="res/icon/ios/icon-76-2x.png"         gap:platform="ios"        width="152" height="152" />

    <gap:splash gap:platform="ios" height="1004" src="res/screen/ios/ipad_portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="2008" src="res/screen/ios/ipad_retina_portrait.png" width="1536" />
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/iphone_portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/iphone_retina_portrait.png" width="640" />
    <gap:splash gap:platform="ios" height="568" src="res/screen/ios/Default-568h.png" width="320" />
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/Default-568@2x.png" width="640" />

    <gap:splash gap:platform="android" src="res/screen/android/android_ldpi_portrait.png" gap:density="ldpi" />
    <gap:splash gap:platform="android" src="res/screen/android/android_mdpi_portrait.png" gap:density="mdpi" />
    <gap:splash gap:platform="android" src="res/screen/android/android_hdpi_portrait.png" gap:density="hdpi" />
    <gap:splash gap:platform="android" src="res/screen/android/android_xhdpi_portrait.png" gap:density="xhdpi" />

    <access origin="*" />

    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="orientation" value="portrait" />

</widget>
